# Ignore output frames
frames/
# Ignore Python virtual environments
.venv/

3D_case.py
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python bytecode files
__pycache__/

# ignore python file physical.py
physical.py

make_gif.py